[server]
url = https://app.obico.io
auth_token = e0c06f0ade0b4ecd47e5

[moonraker]
host = 127.0.0.1
port = 7125

[webcam]
disable_video_streaming = False

# CAUTION: Don't set this section unless you know what you are doing
#   In most cases webcam configuration will be automatically retrieved from moonraker

snapshot_url = http://127.0.0.1:8080/?action=snapshot
stream_url = http://127.0.0.1:8080/?action=stream
target_fps = 25
flip_h = False
flip_v = False
rotation = 0
aspect_ratio_169 = False

[logging]
path = /home/dan/printer_data/logs/moonraker-obico.log
level = INFO

[tunnel]
# CAUTION: Don't modify the settings below unless you know what you are doing
dest_host = 127.0.0.1
dest_port = 80
dest_is_ssl = False

[misc]
sentry_opt = in

